<!DOCTYPE html>
<html>

<head>
    <title>
        登陆成功页
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
        a {
            margin-top: 20px;
            margin-left: 20px;
            text-decoration: none;
        }
        
        a:hover {
            color: red;
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <h1>
        我的名字：
        <%- user.name %>
    </h1>
    <p>恭喜进入登陆成功页面</p>
    <p>
        <a href="/logout">注销</a>
    </p>
</body>

</html>