<!DOCTYPE html>
<html>

<head>
    <title>
        首页
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css">
        a {
            margin-top: 20px;
            margin-left: 20px;
            text-decoration: none;
        }
        
        a:hover {
            color: red;
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome to
        <%= title %>
    </p>
    <p>
        <a href="/register">注册</a>
        <a href="/login">登陆</a>
    </p>
</body>

</html>